@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    height: 100%;
    background-image: linear-gradient(to bottom right, #1A3136, #213E44 30%, #1A3136);
    background-attachment: fixed;
    background-size: 100vw;
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}